body {
    background-color: #347B98;
}

.header-text {
    text-align: center;
    color: #110934;
}

.table {
    width: 100%;
}

.ol-list,
.ul-list {
    width: 25%;
}

.dl-list {
    width: 60%;
}

table,
th,
td {
    border: 5px outset #FB9902;
    border-collapse: collapse;
}

td {
    background-color: #D4EDF7;
}

.first-row {
    background-color: #FAF0DC;
    color: #110934;
    height: 5vh;
    font-size: larger;
}

.ol-list-two {
    text-align: left;
    padding-left: 20%;
}

.ul-list-two {
    text-align: left;
    padding-left: 25%;
    font-size: large;

}

.ol-list-two {
    color: #4424D6;
}

.ul-list-two {
    color: #4424D6;
    list-style-type: square;
}

.dl-list-two {
    position: absolute;
    color: #4424D6;
    top: 0;
}

.for-position {
    position: relative;
}

.footer-line {
    width: 70%;
    height: 1vh;
    background-color: #FB9902;
    margin: 2vh auto auto;
}