body {
    background-image: url('flower2.png');
}

.header-text {
    color: rgb(59, 4, 4);
    text-align: right;
    padding-right: 10vw;
}

.table {
    width: 100%;
}

table,
td,
th {
    border: 5px outset rgb(230, 105, 105);
    border-collapse: collapse;
}

.first-th {
    width: 15%;
}

.first-th,
.second-th {
    background-color: rgb(196, 92, 222);
    color: rgb(97, 11, 11);
    font-size: larger;
}

.image {
    width: 100%;
    height: auto;
}

.first-head,
.second-head {
    background-color: rgb(220, 146, 226);
    color: rgb(80, 8, 33);
}

.ul-list {
    list-style-type: square;
}

.ul-list-two {
    list-style-type: circle;
}

.ul-list-three {
    list-style-type: disc;
}

.first-td,
.second-td {
    width: 42.5%;
    background-color: rgb(213, 172, 235);
}

.head-ol {
    color: rgb(73, 6, 6);
}

.head-ol-two {
    color: rgb(71, 5, 5);
}